/*STYLE RESET START*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #231f20;
  font: 300 14px "Roboto", sans-serif;
  background-color: #ffffff;
  position: relative;
  padding-top: 72px;
}

html {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

textarea {
  width: 100%;
  resize: none;
}

label {
  margin: 0;
}

input, button, select {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

/*STYLE RESET END*/
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.container {
  width: 100%;
  padding: 0 15px;
  max-width: 1390px;
  margin: 0 auto;
}

.container.big {
  max-width: 1920px;
}

.container.min {
  max-width: 920px;
}

.container.medium {
  max-width: 1165px;
}

.flex-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.justify-sb {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-sa {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.flex-d-column-rev {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.flex-d-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-c {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.dark-bg {
  background-color: #f9f9f9;
}

.fw-med {
  font-weight: 500;
}

.underline {
  text-decoration: underline;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("../img/arrow-head-slide-r.png");
}

.swiper-button-next, .swiper-button-prev {
  width: 24px;
  height: 46px;
  -webkit-background-size: 24px 46px;
          background-size: 24px 46px;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url("../img/arrow-head-slide-r.png");
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.swiper-pagination {
  position: static;
}

.swiper-pagination span + span {
  margin-left: 9px;
}

.swiper-pagination-bullet {
  background: #c9d3d9;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #639999;
}

.swiper-slide {
  position: relative;
}

.sliders-wrap {
  position: relative;
  margin-left: 150px;
  display: inline-block;
  margin-top: 40px;
}

.sliders-wrap .swiper-button-next, .sliders-wrap .swiper-container-rtl .swiper-button-prev {
  right: -60px;
  outline: none;
}

.sliders-wrap .swiper-button-prev, .sliders-wrap .swiper-container-rtl .swiper-button-next {
  left: -60px;
  outline: none;
}

.search-result-item__star-rating {
  width: 79px;
  height: 16px;
  background: url("../img/no-star.svg");
  -webkit-background-size: 16px 16px;
          background-size: 16px 16px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: inline-block;
}

.search-result-item__star {
  width: 40%;
  height: 100%;
  background: url("../img/ok-star.svg");
  -webkit-background-size: 16px 16px;
          background-size: 16px 16px;
}

.reviews .search-result-item__star,
.reviews-doctors .search-result-item__star {
  background: url("../img/ok-star-orange.svg");
}

.occupation {
  position: absolute;
  top: 12px;
  right: 10px;
  color: #ffffff;
  font-size: .7rem !important;
  padding: 3px 7px;
  -webkit-border-radius: 8.5px;
          border-radius: 8.5px;
}

.occupation span {
  font-size: .7rem !important;
}

.occupation.children-bg {
  background-color: #00a9aa;
}

.occupation.urgently-bg {
  background-color: #f15a29;
}

.occupation.occupation-price {
  position: static;
  margin-right: auto;
  margin-left: 30px;
  display: inline-block;
}

.occupation.occupation-vacancies {
  position: static;
  display: none;
  margin-left: 12px;
}

.accordion {
  margin-top: 5px;
}

.accordion-name {
  padding: 22px 0 22px 30px;
  font-size: 1.28rem;
  font-weight: 500;
  cursor: pointer;
  background-color: #00a9aa;
  color: #fff;
}

.accordion-name.light-gray {
  background-color: #f9f9f9;
  color: #231f20;
}

.accordion-name.light-gray::after {
  border-bottom: 1px solid #828487;
  border-left: 1px solid #828487;
}

.accordion-name.gray {
  background-color: #d1d3d4;
  color: #231f20;
  font-weight: 300;
}

.accordion-name.gray::after {
  border-bottom: 1px solid #828487;
  border-left: 1px solid #828487;
}

.slider-wards {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  overflow: hidden;
  margin-top: 10px;
}

.slider-wards a {
  display: inline-block;
  width: 31.5%;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  overflow: hidden;
  margin-top: 20px;
}

.highlight {
  color: #000000;
  font-weight: 500;
}

.radio {
  display: inline-block;
  position: relative;
}

.radio + .radio {
  margin-left: 60px;
}

.radio input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.radio__text {
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer;
  color: #000000;
  font-size: 1.28rem;
  letter-spacing: 0.18px;
}

.radio__text:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  width: 19px;
  height: 19px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  border: 2px solid #555;
  color: #fff;
}

.radio__text:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 5px;
  width: 13px;
  height: 13px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  background-color: #000000;
  opacity: 0;
}

.radio input:checked + .radio__text:after {
  opacity: 1;
}

.radio input:checked + .radio__text:before {
  border: 2px solid #000000;
}

.checkbox {
  position: relative;
}

.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.checkbox__text {
  position: relative;
  padding: 0 0 0 25px;
  cursor: pointer;
  font-size: 14px;
}

.checkbox__text:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: url("../img/no-chered.svg") no-repeat center/cover;
  text-align: center;
  color: #fff;
}

.checkbox input:checked + .checkbox__text:before {
  background: url("../img/cheked.svg") no-repeat center/cover;
}

.form-input--file {
  position: relative;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

.form-input-file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.form-input--file-text {
  text-decoration: underline;
  font-size: 1.28rem;
  margin-left: 15px;
}

.form-input-wrap {
  cursor: pointer;
}

.form-input-wrap img {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 25px;
}

.form-input-wrap.active .form-input--file-text {
  font-weight: 500;
  text-decoration: none;
}

.exit-file {
  display: none;
  margin-left: 5px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 25px;
  cursor: pointer;
}

.exit-file.active {
  display: block;
}

.dropdown-menu ul li {
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
  cursor: pointer;
  font-weight: 300;
}

.dropdown-menu ul li:hover {
  font-weight: 500;
}

.dropdown-menu ul.language-wrap {
  min-width: 45px;
  color: #666666;
  font-size: 1.14rem;
  padding: 10px 7px 13px;
}

.dropdown-menu ul.language-wrap li + li {
  margin-top: 5px;
}

.ul-headeer-sm-dropdown {
  min-width: 220px !important;
  font-size: 1.14rem !important;
  font-weight: 300 !important;
}

.ul-headeer-sm-dropdown .arr-down-w {
  display: inline-block;
  vertical-align: middle;
  padding-left: 4px;
  padding-right: 4px;
}

.ul-headeer-sm-dropdown a {
  padding: 0 !important;
}

.ul-headeer-sm-dropdown a:hover {
  background-color: inherit !important;
  color: #666666 !important;
}

.arr-up-w {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.ul-sm-accordion-content {
  display: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  margin: 12px 0 0 18px !important;
}

.dropdown-menu ul.phone-wrap {
  min-width: 170px;
  font-size: 1.28rem;
  color: #666666;
  padding: 20px 15px 15px;
}

.dropdown-menu ul.phone-wrap li + li {
  margin-top: 15px;
}

.dropdown-menu {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
  background-color: #f9f9f9;
}

.man-wrap {
  min-width: 1250px;
  max-width: 1250px;
  font-size: 1.14rem;
  color: #666666;
  padding: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}

.man-drop .dropdown-anchor {
  left: 85px !important;
}

.tabs > div,
.tabs-child > div {
  padding-top: 10px;
}

.tabs ul,
.tabs-child ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 300;
  border-bottom: 1px solid #808285;
  background-color: #fff;
}

.tabs ul li,
.tabs-child ul li {
  margin: 0;
  cursor: pointer;
  padding: 14px 0;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.tabs ul li.active, .tabs ul li.active:hover,
.tabs-child ul li.active, .tabs-child ul li.active:hover {
  color: #231f20;
  font-weight: 500;
}

.js-def-card {
  display: none !important;
}

.js-show-card {
  display: block !important;
}

.js-show-card.card {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.accordion-end {
  display: none;
}

.accordion-end:first-child {
  display: block;
}

.hide {
  display: none !important;
}

.man-drop .dropdown-anchor {
  display: none;
}

.text-link {
  position: relative;
}

.text-link img {
  -webkit-transform: rotate(0) !important;
      -ms-transform: rotate(0) !important;
          transform: rotate(0) !important;
}

.text-link.dropdown-open .text-link img,
.nav-link.active .text-link img {
  -webkit-transform: rotate(180deg) !important;
      -ms-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important;
}

.btn {
  font-size: 1.14rem;
  background: transparent;
  font-weight: 500;
  letter-spacing: 0.56px;
  padding: 10px 15px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  color: #f1f2f2;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

.btn.btn-entry {
  border: 1px solid #ffffff;
  font-size: 1rem;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.btn.btn-entry:hover {
  background-color: #007f80;
  border: 1px solid #007f80;
}

.btn.btn-slide {
  background-color: #f15a29;
}

.btn.btn-slide:hover {
  background-color: #b64b25;
}

.btn.btn-default {
  border: 2px solid #808285;
  color: #808285;
  padding: 10px 30px 10px 15px;
}

.btn.btn-default img {
  position: absolute;
  top: 49%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 4px;
  width: 26px;
  display: none;
}

.btn.btn-default img.gray-ar {
  display: inline-block;
}

.btn.btn-default.mini {
  padding: 8px 12px;
  font-size: 1rem;
  letter-spacing: 0.16px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.btn.btn-default:hover {
  color: #fff;
  background-color: #00a9aa;
  border: 2px solid #00a9aa;
}

.btn.btn-default:hover img.gray-ar {
  display: none;
}

.btn.btn-default:hover img.white-arr {
  display: inline-block;
}

.btn.btn-vac {
  background-color: #00a9aa;
  padding: 15px;
}

.btn:hover {
  color: #f1f2f2;
}

body.active:before {
  content: '';
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.title {
  font-weight: 700;
  font-size: 2.85rem;
  margin-bottom: 20px;
}

.description {
  font-size: 1.28rem;
}

input, textarea {
  padding: 9px 10px 9px 0;
  color: #000;
  letter-spacing: 0.16px;
  font-size: 1.14rem;
  border-bottom: 1px solid #a7a9ac;
  width: 100%;
  background-color: transparent;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  -webkit-border-radius: 0;
          border-radius: 0;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #666666;
  letter-spacing: 0.16px;
  font-size: 1.14rem;
  font-weight: 300;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #666666;
  letter-spacing: 0.16px;
  font-size: 1.14rem;
  font-weight: 300;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #666666;
  letter-spacing: 0.16px;
  font-size: 1.14rem;
  font-weight: 300;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #666666;
  letter-spacing: 0.16px;
  font-size: 1.14rem;
  font-weight: 300;
}

input::placeholder, textarea::placeholder {
  color: #666666;
  letter-spacing: 0.16px;
  font-size: 1.14rem;
  font-weight: 300;
}

input:focus {
  border-bottom: 1px solid #0faeaf;
}

textarea {
  padding: 10px 15px;
  border: 1px solid #a7a9ac;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.doctors {
  padding: 80px 0 100px;
}

.doctors .doctors-text {
  max-width: 580px;
  width: 100%;
  margin: 0 auto;
}

.price {
  padding: 85px 0 130px;
}

.price .accordion-wrap {
  margin-top: 25px;
  margin-bottom: 100px;
}

body.active {
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(77, 139, 137, 0.8);
  color: #f1f2f2;
}

.header-rel {
  position: absolute !important;
}

.header-wrap {
  min-height: 72px;
}

.header-wrap .btn.btn-entry {
  margin-left: 25px;
}

.dop-info-header {
  margin-left: 10px;
}

.call-info {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.nav-header {
  font-size: 1.14rem;
  font-weight: 500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-left: 20px;
  margin-right: 10px;
}

.nav-header .nav-link {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}

.nav-header .nav-link + .nav-link {
  margin-left: 22px;
}

.nav-header .nav-link img {
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

.nav-header .nav-link.active .text-link img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nav-header .name-nav {
  vertical-align: middle;
}

.text-link-active {
  font-weight: bold;
}

.wrapper-nav-link {
  white-space: nowrap;
}

.arr-down-w {
  width: 18px;
  vertical-align: middle;
}

.arr-up {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.ad-more {
  cursor: pointer;
}

.ad-more .phone-call-img {
  width: 26px;
}

.ad-more img {
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

.ad-more.active img.arr-down-w {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.lang-page {
  cursor: pointer;
  margin-left: 25px;
}

.now-lang {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.now-lang img {
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

.now-lang.active img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.mob_menu {
  margin-left: 10px;
  display: none;
}

.mob_menu .burger {
  width: 25px;
  cursor: pointer;
}

.search-inp-wrap {
  position: relative;
}

.services-header {
  width: 71%;
}

.directions,
.prog-header,
.procedures-header,
.diagnostics-header {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.directions span, .directions p,
.prog-header span,
.prog-header p,
.procedures-header span,
.procedures-header p,
.diagnostics-header span,
.diagnostics-header p {
  margin-top: 10px;
  color: #231f20;
  font-weight: 300;
}

.directions p.diagnostics-title,
.prog-header p.diagnostics-title,
.procedures-header p.diagnostics-title,
.diagnostics-header p.diagnostics-title {
  font-weight: 500;
}

.diagnostics-header {
  display: block !important;
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}

.diagnostics-header .diagnostics-card {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

.directions span,
.procedures-header span {
  width: 23%;
}

.prog-header span {
  width: 49%;
}

.nav-active {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

main {
  position: relative;
}

.head-screen {
  margin-top: -72px;
}

.head-screen-wrap {
  padding: 0;
}

.swiper-head-screen {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.swiper-head-screen .swiper-slide {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-head-screen .swiper-slide .slide-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.swiper-head-screen .swiper-slide .title-slide {
  color: #005555;
  font-size: 3.42rem;
  font-weight: 700;
  max-width: 610px;
  text-align: center;
  line-height: 3.64rem;
}

.swiper-head-screen .swiper-slide .btn-slide {
  margin-top: 40px;
}

.swiper-head-screen .swiper-slide img {
  width: 100%;
}

.swiper-head-screen .swiper-pagination {
  margin-top: 20px;
}

.advantages {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 35px 0;
}

.advantages-wrap {
  width: 100%;
  padding: 0 15px;
  max-width: 1550px;
  margin: 0 auto;
}

.advantages-card {
  min-height: 160px;
  background-color: #fff;
  width: 23%;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 40px 20px 0;
  text-align: center;
  font-size: 1.28rem;
  position: relative;
}

.advantages-card .adv-num {
  font-size: 4.28rem;
  line-height: 3.6rem;
  color: #00a9aa;
  font-weight: 700;
  margin-bottom: 3px;
}

.advantages-card .adv-num span {
  font-size: 1.28rem;
  line-height: normal;
  margin-left: 4px;
}

.advantages-card::before {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 28px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 28px rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  left: 20%;
  right: 20%;
  -webkit-border-radius: 100px / 10px;
          border-radius: 100px / 10px;
}

.our-advantages-screen {
  padding: 125px 0;
}

.def-sec-adv {
  padding-left: 85px;
}

.def-sec-adv .num-advantage {
  font-size: 3.28rem;
  color: #a7a9ac;
  font-weight: 700;
  margin-right: 20px;
  line-height: 2.5rem;
}

.def-sec-adv .desc-advantage-wrap {
  border-left: 1px solid #808285;
  padding-left: 20px;
}

.def-sec-adv .title-adv {
  font-weight: 500;
  font-size: 2.14rem;
  margin-bottom: 5px;
}

.def-sec-adv .desc-adv {
  font-size: 1.28rem;
}

.def-sec-adv.w50 {
  width: 53%;
}

.advantages-clinic,
.advantages-specialists {
  margin-top: 135px;
}

.advantages-clinic-wrap {
  padding: 70px 0 75px;
  position: relative;
}

.advantages-clinic-wrap .btn {
  margin-left: 20px;
  margin-top: 20px;
}

.swiper-certificate {
  width: 262px;
  overflow: hidden;
  position: absolute;
  top: -65px;
  right: 115px;
}

.swiper-certificate .swiper-pagination-bullet {
  width: 19px;
  height: 19px;
}

.swiper-certificate .swiper-pagination span + span {
  margin-left: 15px;
}

.swiper-specialists,
.swiper-direction-spec {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 5px;
  margin-top: 65px;
}

.swiper-specialists .swiper-slide,
.swiper-direction-spec .swiper-slide {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #ffffff;
  overflow: hidden;
}

.direction-spec-noslider {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.direction-spec-noslider .direction-spec-card {
  width: 21%;
  margin-left: 20px;
  margin-bottom: 20px;
}

.direction-spec-noslider .direction-spec-card:first-child {
  margin-left: 0;
}

.direction-spec-noslider .direction-spec-card:nth-child(5) {
  margin-left: 0;
}

.specialist-info {
  padding: 5px 18px 30px;
}

.specialist-info .specialist-fio {
  color: #000;
  font-size: 1.28rem;
  font-weight: 500;
}

.specialist-info .specialist-prof {
  font-size: 1.14rem;
  min-height: 77px;
}

.specialist-comment {
  margin-top: 10px;
}

.specialist-comment img {
  width: 20px;
}

.specialist-comment span {
  margin-left: 2px;
}

.more-btn {
  margin-top: 45px;
  text-align: center;
}

.equipment {
  padding: 75px 0 60px;
  margin-top: 85px;
}

.swiper-equipment {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-left: 150px;
  margin-top: 40px;
}

.swiper-equipment .swiper-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-equipment .swiper-slide {
  width: 20%;
}

.specialist-noslider {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.specialist-noslider .specialist-card {
  width: 15%;
  margin-left: 20px;
}

.specialist-noslider .specialist-card:first-child {
  margin-left: 0;
}

.network-clinics {
  padding-top: 110px;
}

.swiper-network {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 55px;
  padding: 10px;
}

.swiper-network .swiper-slide img {
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

.swiper-network .swiper-slide img:hover {
  -webkit-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.5);
}

.clinics-noslider {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clinics-noslider .clinics-card {
  width: 25%;
  margin-left: 20px;
}

.clinics-noslider .clinics-card:first-child {
  margin-left: 0;
  margin-bottom: 20px;
}

.clinics-noslider .clinics-card:nth-child(2) {
  margin-bottom: 20px;
}

.clinics-noslider .clinics-card:nth-child(3) {
  margin-bottom: 20px;
}

.clinics-noslider .clinics-card:nth-child(4) {
  margin-left: 0;
}

.trusted {
  margin-top: 130px;
}

.swiper-trusted,
.swiper-write,
.swiper-certf {
  max-width: 605px;
  position: relative;
  overflow: hidden;
  padding: 5px;
}

.swiper-trusted .swiper-slide,
.swiper-write .swiper-slide,
.swiper-certf .swiper-slide {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 88px;
}

.about-us-write {
  margin-top: 110px;
}

.reviews {
  padding: 40px 0 10px;
}

.reviews .swiper-button-next, .reviews .swiper-button-prev {
  top: 67%;
}

.swiper-reviews {
  max-width: 605px;
  position: relative;
  overflow: hidden;
}

.swiper-reviews .swiper-slide {
  text-align: center;
}

.swiper-reviews .swiper-pagination {
  margin-top: 30px;
}

.swiper-reviews .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
}

.review-date {
  color: #58595b;
  font-size: .85rem;
  line-height: .85rem;
}

.review-name {
  font-weight: 500;
  font-size: 1.14rem;
  line-height: 1.42rem;
  margin-top: 2px;
}

.review-photo {
  margin-bottom: 7px;
}

.review-rating {
  margin-top: 7px;
}

.review-text {
  margin-top: 40px;
  text-align: left;
  font-size: 1.14rem;
}

.nav-page {
  min-height: 60px;
  height: 0;
  padding: 10px 0;
  font-size: .85rem;
  color: #808285;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-page .nav-page-img {
  display: none;
  width: 15px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.nav-page a {
  text-decoration: underline;
  position: relative;
  cursor: pointer;
}

.nav-page a::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -22px;
  background: url("../img/arr-long-r.svg") no-repeat;
  height: 5px;
  width: 17px;
}

.nav-page a + a {
  margin-left: 22px;
}

.nav-page a:last-child {
  color: #231f20;
  text-decoration: none;
  font-weight: 500;
}

.nav-page a:last-child::before {
  display: none;
}

.direction-head-photo {
  margin-bottom: 55px;
}

.direction-head-photo img {
  width: 100%;
}

.direction-title {
  font-size: 2.57rem;
  font-weight: 700;
}

.direction-title.mini {
  font-size: 2.14rem;
  font-weight: 500;
}

.direction-title.urgently .occupation {
  display: inline-block;
  vertical-align: middle;
}

.direction-title.cont {
  margin-left: 140px;
}

.direction-title.center {
  text-align: left;
  margin-left: 340px;
}

.direction-desc {
  font-size: 1.28rem;
  margin-top: 25px;
  line-height: 1.7rem;
}

.direction-desc.mini {
  margin-top: 0;
  font-weight: 500;
}

.direction-desc p + p {
  margin-top: 25px;
}

.possible-problems {
  padding-top: 60px;
  padding-bottom: 70px;
}

ol {
  list-style-type: decimal;
  margin-top: 25px;
  font-weight: 500;
}

ol li {
  font-size: 1.28rem;
  margin-left: 20px;
}

ol li p {
  font-weight: 300;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

ol li a {
  border-bottom: 1px solid #000000;
}

ol li + li {
  margin-top: 25px;
}

.man-drop {
  left: 75px !important;
}

.oc-wrap {
  margin-right: auto;
}

.mob-s {
  display: none;
}

.direction-certificate {
  padding: 60px 0;
}

.direction-certificate .sliders-wrap {
  margin-left: 0;
  width: 100%;
}

.direction-certificate .swiper-certf {
  max-width: 100%;
}

.direction-certificate .def-sec-adv {
  max-width: 587px;
  padding-left: 0;
}

.direction-certificate .def-sec-adv .desc-adv {
  font-size: 1.28rem;
}

.symptoms {
  padding: 80px 0 50px;
}

.section-wrap {
  overflow: hidden;
}

.reminder {
  font-size: 1.28rem;
}

.reminder.mt {
  margin-top: 25px;
}

.reminder p + p {
  margin-top: 25px;
}

.disease {
  padding: 55px 0 40px;
}

ul {
  font-size: 1.28rem;
}

ul li {
  margin-top: 15px;
}

ul li a {
  border-bottom: 1px solid #000000;
  text-decoration: none;
}

.direction-list-circle {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 5px;
}

.direction-list-circle li {
  list-style-type: disc;
  list-style-position: inside;
  width: 48%;
  margin-top: 12px;
}

.direction-list-circle li * {
  font-size: 1.28rem;
  vertical-align: middle;
}

.direction-list-circle li.urgently .occupation {
  display: inline-block;
}

.direction-list-circle.w100 li {
  width: 100%;
}

.operations {
  padding: 90px 0 25px;
}

.diagnostics,
.treatment,
.operations-hospital {
  padding: 50px 0 25px;
}

.programs,
.surgeon-treatment,
.postoperative,
.history-default {
  padding: 50px 0 85px;
}

.programs .direction-list-num,
.surgeon-treatment .direction-list-num,
.postoperative .direction-list-num,
.history-default .direction-list-num {
  list-style-type: none;
}

.programs .direction-list-num .direction-list-text,
.surgeon-treatment .direction-list-num .direction-list-text,
.postoperative .direction-list-num .direction-list-text,
.history-default .direction-list-num .direction-list-text {
  padding-left: 0;
}

.nav-for-page {
  position: fixed;
  top: 130px;
  z-index: 9;
  padding-left: 40px;
}

.nav-for-page ul {
  font-size: 1.28rem;
  max-width: 201px;
}

.nav-for-page ul li.active {
  list-style-type: disc;
  font-weight: 500;
}

.nav-for-page ul li + li {
  margin-top: 12px;
}

.nav-for-page .nav-for-page-close {
  display: none;
}

.nav-for-page .nav-for-page-text {
  display: none;
}

.nav-for-page .def-nav-sec {
  margin-top: 45px;
}

.diseases {
  padding: 40px 0 50px;
}

.search-price .btn,
.search-doc .btn {
  padding: 8px 18px;
  font-weight: 600;
}

.search-price,
.search-doc,
.search-header,
.services-header {
  margin: 65px 0;
}

.search-price .search-inp-wrap,
.search-doc .search-inp-wrap,
.search-header .search-inp-wrap,
.services-header .search-inp-wrap {
  margin-right: 40px;
  width: 100%;
  position: relative;
}

.search-price .search-inp-wrap .js-clearVal,
.search-doc .search-inp-wrap .js-clearVal,
.search-header .search-inp-wrap .js-clearVal,
.services-header .search-inp-wrap .js-clearVal {
  display: none;
}

.search-price .search-inp-wrap .js-clearVal.active,
.search-doc .search-inp-wrap .js-clearVal.active,
.search-header .search-inp-wrap .js-clearVal.active,
.services-header .search-inp-wrap .js-clearVal.active {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  display: block;
  z-index: 40;
}

.search-price #search-price,
.search-doc #search-price,
.search-header #search-price,
.services-header #search-price {
  padding-right: 30px;
}

.search-price .drop-result,
.search-doc .drop-result,
.search-header .drop-result,
.services-header .drop-result {
  white-space: normal;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  color: #808080;
  font-size: 1.28rem;
  background-color: #f9f9f9;
  line-height: 1.5rem;
  z-index: -1;
  padding: 5px 7px 10px;
  opacity: 0;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

.search-price .drop-result a,
.search-doc .drop-result a,
.search-header .drop-result a,
.services-header .drop-result a {
  padding: 13px 7px;
  background-color: #fff;
  display: block;
}

.search-price .drop-result a + a,
.search-doc .drop-result a + a,
.search-header .drop-result a + a,
.services-header .drop-result a + a {
  margin-top: 5px;
}

.search-price .drop-result.active,
.search-doc .drop-result.active,
.search-header .drop-result.active,
.services-header .drop-result.active {
  z-index: 30;
  opacity: 1;
}

.services-header {
  margin: 0;
}

.services-header input {
  border-bottom: none;
  padding: 9px 10px;
}

.services-header .search-inp-wrap {
  background-color: #f9f9f9;
  margin-bottom: 45px;
}

.services-header .search-inp-wrap .search-i-header {
  position: absolute;
  top: 10px;
  right: 15px;
}

.services-info {
  font-size: 1.14rem;
  font-weight: 500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-info a {
  text-decoration: underline;
}

.services-desc {
  font-size: 1.14rem;
  line-height: 1.4rem;
  max-width: 590px;
  -webkit-transition: max-height .2s ease;
  -o-transition: max-height .2s ease;
  transition: max-height .2s ease;
}

.services-desc p {
  margin-top: 10px;
}

.services-desc p:empty {
  margin-top: 0;
}

.services-desc ul {
  width: 100%;
  list-style-type: decimal;
  margin-left: 20px;
}

.services-desc ul li {
  margin-top: 10px;
}

.services-price {
  font-weight: 300;
  margin-left: 10px;
  white-space: nowrap;
}

.services-price span {
  font-size: 1.71rem;
  margin-right: 3px;
  font-weight: 500;
}

.more-services-info {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.14rem;
  display: none;
  margin-top: 15px;
  cursor: pointer;
}

.more-services-info img {
  width: 21px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.more-services-info .no-more {
  display: none;
}

.more-services-info.active .more {
  display: none;
}

.more-services-info.active .no-more {
  display: inline-block;
}

.more-services-info.active img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.services {
  padding: 23px 30px;
}

.services + .services {
  border-top: 1px solid #808285;
}

.services.active .services-desc {
  max-height: 92px;
  overflow: hidden;
}

.services.active .services-desc.active {
  max-height: 100%;
  overflow: visible;
}

.services.active .more-services-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.price-accordion {
  display: none;
}

.price-accordion.active {
  display: block;
}

.search-result-wrap {
  display: none;
  border-bottom: 1px solid #808285;
}

.search-result-wrap.active {
  display: block;
}

.warning-search {
  color: #f15a29;
  font-size: 1.14rem;
  line-height: 1.28rem;
  display: none;
}

.warning-search.active {
  display: block;
}

.set-doc-search {
  padding: 100px 0 70px;
  margin-top: 65px;
}

.search-doc {
  max-width: 450px;
  margin: 60px 0 0;
}

.search-by-name {
  font-size: 1.14rem;
  margin-top: 7px;
}

.search-by-name span {
  cursor: pointer;
}

.search-by-name span + span {
  margin-left: 7px;
}

.search-doc-screen {
  padding: 40px 0;
}

.doctors-result-cards {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 70px;
}

.doc-card {
  display: none;
}

.doc-card.active,
.doc-card-more {
  width: 23.5%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #ffffff;
  overflow: hidden;
  margin-top: 20px;
  min-height: 398px;
  display: block;
}

.doc-card-more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

.doc-card-more:hover {
  opacity: .9;
}

.doc-card-more.hide {
  display: none;
}

.doc-card-clear {
  width: 23.5%;
  background-color: transparent;
  overflow: hidden;
}

.more-card-info {
  margin-top: 50px;
  color: #808285;
  font-size: 1.28rem;
}

.more-card-info .val-card {
  font-weight: 500;
}

.head-info-doc {
  padding-bottom: 100px;
}

.doc-info-photo {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #ffffff;
  max-width: 445px;
  width: 100%;
  padding: 15px 0 0;
}

.doc-info-photo .specialist-info {
  padding: 30px 18px;
}

.doc-info-photo .specialist-info .search-result-item__star-rating {
  width: 120px;
  height: 24px;
  -webkit-background-size: 24px 24px;
          background-size: 24px 24px;
}

.doc-info-photo .specialist-info .search-result-item__star {
  -webkit-background-size: 24px 24px;
          background-size: 24px 24px;
}

.doc-info-photo .specialist-info .specialist-comment {
  margin-top: 0;
}

.doc-info-photo .specialist-info .specialist-comment img {
  width: 35px;
}

.doc-info-photo .specialist-info .specialist-comment span {
  font-size: 1.6rem;
}

.doc-info {
  margin-left: 40px;
  font-size: 1.14rem;
}

.doc-prof {
  margin-top: 3px;
  font-size: 1.28rem;
}

.doc-name {
  font-weight: 500;
  font-size: 2.14rem;
}

.doc-info-wrap {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.doc-info-list {
  margin: 30px 0 50px;
  line-height: 1.8rem;
}

.doc-info-list .list-title {
  font-weight: 500;
}

.doc-info-list .list-title .price-doc-val {
  font-weight: 300;
  font-size: 2.14rem;
}

.doc-info-list .price-doc {
  margin-top: 30px;
}

.doc-info-list a {
  text-decoration: underline;
  display: block;
  border: none;
}

.direction-spec-noslider .direction-spec-card {
  width: 23%;
}

.diagnostic-methods,
.diseases-for-heals,
.exp-work,
.theme-since-works,
.trainings {
  padding: 20px 0;
}

.reviews-doctors {
  margin-top: 70px;
  padding: 30px 0 100px;
}

.send-review {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

.send-review.active {
  margin-top: 70px;
  max-height: 100%;
}

.reviews-star .send-review-text {
  font-size: 1.28rem;
  font-weight: 500;
}

.reviews-star .rating-select {
  margin-left: 30px;
}

.reviews-star .rating-select img {
  width: 21px;
  height: 19px;
  cursor: pointer;
}

.review-form-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 55px;
}

.review-form-info .input-wrap {
  width: 48%;
}

.review-form-info textarea {
  width: 100%;
  margin-top: 55px;
  min-height: 155px;
}

.robots {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 25px;
}

.robots .checkbox {
  margin-right: 25px;
}

.js-open-rev img {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.js-open-rev.active img {
  -webkit-transform: translateY(-50%) rotate(-180deg);
      -ms-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}

.rev-data {
  color: #58595b;
}

.rev-name {
  font-weight: 500;
  font-size: 1.28rem;
  margin-top: 3px;
}

.reviews-people {
  display: none;
}

.reviews-people .search-result-item__star-rating {
  margin-top: 10px;
  -webkit-background-size: 16px 16px;
          background-size: 16px 16px;
}

.reviews-people .search-result-item__star {
  -webkit-background-size: 16px 16px;
          background-size: 16px 16px;
}

.reviews-people + .reviews-people {
  margin-top: 75px;
}

.rev-text {
  font-size: 1.28rem;
  margin-top: 20px;
}

.reviews-people-wrap {
  margin-top: 75px;
}

.more-rev {
  color: #808285;
  font-size: 1.28rem;
  margin-top: 60px;
}

.more-rev.cont {
  margin-left: 140px;
}

.show-more-rev {
  cursor: pointer;
  margin-right: 55px;
}

.show-more-rev img {
  width: 22px;
}

.other-doctors .direction-title {
  text-align: center;
}

.doctors-cards {
  margin-top: 50px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.other-doctors {
  padding: 100px 0 50px;
}

.hospital {
  padding: 25px 0;
  margin-top: 20px;
}

.hospital .direction-title {
  font-size: 1.28rem;
}

.wards {
  padding: 20px 0 80px;
}

.hospital-price .accordion-wrap {
  margin-bottom: 0;
}

.wards-price {
  padding: 85px 0 30px;
}

.wards-price .accordion-wrap {
  margin-bottom: 0;
}

.wards-screen {
  padding: 60px 0 15px;
}

.brigades {
  padding: 80px 0 20px;
}

.brigades-desc {
  padding: 30px 0 10px;
}

.duty {
  padding: 80px 0 20px;
}

.mini-list {
  list-style-type: disc;
  margin-top: 5px;
}

.mini-list li {
  list-style-position: inside;
  font-weight: 300;
}

.mini-list li + li {
  margin-top: 5px;
}

.treatment-brigades {
  padding: 50px 0 10px;
}

.hospital-no-title {
  padding: 10px 0 25px;
}

.wards-title {
  font-size: 1.28rem;
  font-weight: 500;
  margin-top: 20px;
}

.history-default {
  padding: 0 0 30px 0;
}

.history-default .swiper-network {
  margin-top: 15px;
}

.partnership-head-screen {
  padding: 0 0 20px;
}

.swiper-license {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 5px;
}

.swiper-license .swiper-slide {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #ffffff;
  overflow: hidden;
  padding: 5px;
  position: relative;
}

.swiper-license .action-license {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 17px 35px;
  -webkit-border-radius: 0 0 2px 2px;
          border-radius: 0 0 2px 2px;
  background-color: #ffffff;
  opacity: 0.8;
}

.swiper-license .action-license img {
  width: 25px;
}

.swiper-license .action-license a + a {
  margin-left: 30px;
}

.license {
  padding: 30px 0 80px;
}

.license .sliders-wrap {
  margin-left: 0;
  width: 100%;
  margin-top: 0;
}

.our-partners-cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.our-partners-cards .partners-card {
  width: 15%;
  height: 90px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-partners-cards .partners-card img {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.our-partners-wrap .more-btn {
  text-align: left;
}

.our-partners-wrap + .our-partners-wrap {
  margin-top: 75px;
}

.partners {
  margin-top: 30px;
}

.our-partners {
  padding: 20px 0 50px;
}

.vacancies {
  padding: 50px 0;
}

.medical-doc + .medical-doc {
  margin-top: 40px;
}

.feedback-wrap {
  margin-top: 50px;
  padding-bottom: 30px;
}

.card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.card + .card {
  margin-top: 80px;
}

.card-photo {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #efeff0;
  margin-top: 10px;
}

.card-photo img {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.card-small-text {
  color: #58595b;
}

.card-title-text {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 12px;
}

.card-title-text a {
  border-bottom: 1.5px solid #000;
  margin-bottom: 5px;
}

.card-desc-text {
  font-size: 1.14rem;
  line-height: 1.7rem;
  margin-top: 12px;
}

.feedback-out-staff {
  padding: 30px 0 50px;
}

.card-content {
  margin-left: 40px;
  width: 84%;
}

.feedback-content.active .more-services-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.feedback-content.active .feedback-desc {
  max-height: 70px;
  overflow: hidden;
}

.feedback-content.active .feedback-desc.active {
  max-height: 100%;
  overflow: visible;
}

.file {
  min-width: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.resume-wrap .btn {
  margin-left: 55px;
}

.resume-send {
  padding: 30px 0;
}

.news-year {
  margin-top: 60px;
}

.news-year + .news-year {
  margin-top: 100px;
}

.news-wrap {
  margin-top: 20px;
}

.news-desc {
  margin-top: 5px;
}

.news-card + .news-card {
  margin-top: 50px;
}

.head-info {
  padding-bottom: 30px;
}

.head-info p {
  font-size: 1.28rem;
}

.head-info .news-data {
  margin-bottom: 10px;
}

.news-theme {
  padding-top: 40px;
  padding-bottom: 100px;
}

.reviews-screen {
  margin-top: 0;
}

.answer-rev .reviews-people {
  padding-left: 100px;
  margin-top: 30px;
}

.answer-rev .rev-text {
  color: #58595b;
  margin-top: 10px;
}

.rev-photo-wrap {
  display: none;
}

.rev-photo-wrap.active {
  display: block;
}

.rev-photo-wrap.active .more-services-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.rev-photo {
  border: 10px solid #f1f2f2;
  overflow: hidden;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  margin-top: 10px;
}

.rev-photo img {
  width: 100%;
}

.rev-photo.active {
  max-height: 80px;
}

.personal-data {
  margin-top: 55px;
}

.personal-data .btn {
  margin-left: 340px;
  margin-top: 45px;
}

.form-vac {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.form-vac .name-section {
  font-weight: 500;
  font-size: 1.7rem;
  text-align: right;
  padding-right: 65px;
  border-right: 1px solid #cccccc;
  max-width: 250px;
  width: 100%;
}

.form-vac .input-g {
  padding-left: 90px;
  max-width: 410px;
  width: 100%;
}

.form-vac .input-g .input-wrap + .input-wrap {
  margin-top: 40px;
}

.form-vac .input-g textarea {
  min-height: 200px;
  margin-bottom: 40px;
}

.form-vac .input-g textarea.dop {
  margin-bottom: 0;
}

.form-vac .input-g .date-born {
  font-size: 1.14rem;
  font-weight: 500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 40px 0;
}

.form-vac .input-g .date-born input {
  width: 42px;
  margin-left: 10px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  text-align: center;
  padding: 3px;
}

.form-vac .input-g .date-born input + input {
  margin-top: 0;
}

.form-vac .input-g .date-born input.year {
  width: 60px;
  margin-right: 10px;
}

.form-vac .input-g .date-born input.sum {
  width: 96px;
  margin-right: 10px;
}

.form-vac .input-g .date-born.text {
  margin: 0;
}

.form-vac + .form-vac {
  margin-top: 100px;
}

.check-row {
  margin-top: 20px;
  color: #000000;
}

.check-column {
  color: #000000;
  margin-top: 20px;
  margin-bottom: 20px;
}

.check-column .checkbox + .checkbox {
  margin-top: 10px;
}

.date-born + .check-column {
  margin-top: 10px;
  margin-bottom: 0;
}

.search-header {
  margin: 0 0 0 10px;
}

.search-header .search-icon {
  cursor: pointer;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.search-header .search-icon button.sub {
  background-color: transparent;
  display: none;
}

.search-header .search-icon.active button.sub {
  display: block;
}

.search-header .search-icon.active .desc-i {
  display: none;
}

.search-header .search-inp-wrap {
  display: none;
  margin-right: 10px;
  max-width: 800px;
  width: 700px;
}

.search-header .search-inp-wrap .drop-result {
  display: none;
}

.search-header .search-inp-wrap .drop-result.active {
  display: block;
}

.search-header input {
  color: #f1f2f2;
  border-bottom: 1px solid #fff;
  padding: 3px 0;
}

.search-header input::-webkit-input-placeholder {
  color: #f1f2f2;
}

.search-header input::-moz-placeholder {
  color: #f1f2f2;
}

.search-header input:-ms-input-placeholder {
  color: #f1f2f2;
}

.search-header input::-ms-input-placeholder {
  color: #f1f2f2;
}

.search-header input::placeholder {
  color: #f1f2f2;
}

footer {
  padding-top: 80px;
}

.helper {
  position: relative;
}

.helper .dark-top {
  position: absolute;
  height: 300px;
  z-index: 1;
  top: -81px;
  left: 0;
  width: 100%;
}

.helper .dark-bottom {
  position: absolute;
  height: 200px;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
}

.helper-wrap {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #ffffff;
  padding: 45px 15px 0 0;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  z-index: 10;
}

.helper-wrap .call-center-img {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.helper-info {
  width: 290px;
}

.helper-info .title-helper-info {
  color: #007f80;
  font-weight: 500;
  font-size: 1.85rem;
}

.helper-info .desc-helper-info {
  margin-top: 3px;
  font-weight: 300;
  font-size: 1rem;
}

.helper-info .input-group {
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.helper-info .input-group .input-wrap + .input-wrap {
  margin-top: 40px;
}

.helper-info .sumb-form {
  text-align: right;
  margin-top: 30px;
}

.head-review {
  margin-top: 150px;
  padding-bottom: 35px;
}

.head-review-wrap .head-review-text {
  font-weight: 500;
  font-size: 1.71rem;
  margin-right: 20px;
}

.head-review-wrap .rating-select img {
  width: 27px;
  height: 27px;
  cursor: pointer;
}

.contacts {
  padding: 10px 0 75px;
}

.contacts-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-card {
  color: #000000;
  max-width: 237px;
  width: 100%;
  margin-top: 75px;
}

.contacts-card .arr-down {
  display: none;
}

.contacts-card .card-title {
  color: #007f80;
  font-weight: 500;
  font-size: 1.42rem;
}

.contacts-card .card-title + .card-address {
  margin-top: 0;
}

.contacts-card .card-address {
  font-weight: 500;
  margin-top: 24px;
}

.contacts-card .card-info {
  margin-top: 20px;
  line-height: 1.57rem;
}

.contacts-card .card-link-geo {
  color: #231f20;
  margin-top: 20px;
}

.contacts-card .card-link-geo a {
  border-bottom: 1px solid #000;
}

.bottom-footer {
  background-color: #00a9aa;
  color: #f1f2f2;
}

.bottom-footer-wrap {
  min-height: 70px;
  padding: 10px 0;
}

.author-license {
  font-weight: 500;
  font-size: .85rem;
}

.pay {
  margin-left: 55px;
}

.pay img {
  width: 50px;
}

.pay img + img {
  margin-left: 10px;
}

.mail-control {
  font-size: 1.14rem;
  margin-right: auto;
  margin-left: 14%;
}

.mail-control span {
  text-decoration: underline;
}

.mail-control img {
  width: 25px;
  margin-right: 25px;
}

.soc-nav img {
  width: 32px;
}

.soc-nav a {
  -webkit-transition: all .1s line;
  -o-transition: all .1s line;
  transition: all .1s line;
}

.soc-nav a:hover {
  opacity: .9;
}

.soc-nav a + a {
  margin-left: 5px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.popup .exit-pop {
  position: absolute;
  top: 10px;
  right: 7px;
  cursor: pointer;
  width: 25px;
}

.popup .pop-search-doc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 463px;
  min-height: 439px;
  height: 0;
  position: relative;
  background-color: #fff;
  padding-top: 20px;
}

.popup .send-app {
  text-align: center;
}

.popup .title-pop {
  font-weight: 500;
  font-size: 2.14rem;
}

.popup .desc-pop {
  font-size: 1.28rem;
}

.popup .timer-over {
  margin-top: 35px;
}

.popup .timer-over ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup .timer-over li {
  font-weight: 500;
  font-size: 2.57rem;
}

.popup .send-app-big {
  max-width: 920px;
  text-align: center;
}

.popup.active {
  z-index: 99999;
  opacity: 1;
}

.mob_menu {
  margin-top: 4px;
}

#sm-menu {
  display: none;
}

#sm-menu.active {
  display: block;
}

.wrapper-nav-link .nav-link .n-icon-b {
  display: none;
}

.wrapper-nav-link .duble-menu {
  display: none;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.burger-desk {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 35px 20px;
}

.burger-desk .nav-link {
  color: #666;
}

.burger-desk .nav-link.drop-duble {
  display: block !important;
}

.burger-desk .nav-link.drop-duble .n-icon-b {
  display: block;
  width: 12px;
  margin-left: 5px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.burger-desk .nav-link.drop-duble .duble-menu {
  padding: 5px 0 0 10px;
  display: none;
}

.burger-desk .nav-link.drop-duble .duble-menu a + a {
  margin-top: 7px;
}

.burger-desk .nav-link.drop-duble.active .duble-name {
  font-weight: 500;
}

.burger-desk .nav-link.drop-duble.active .n-icon-b {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.burger-desk .nav-link.drop-duble.active .duble-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav-header .burger-desk .nav-link + .nav-link {
  margin-left: 0;
  margin-top: 10px;
}

.nav-header .burger-desk .nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.diagnostics-card {
  white-space: normal;
}

.search-i-g {
  display: none;
}

.search-page {
  padding: 75px 0;
}

.search-page .direction-list-num {
  margin-top: 40px;
}

.search-page .direction-list-num .direction-list-text {
  padding-left: 0;
}

.error {
  padding: 160px 0;
}

.error-icon {
  width: 50%;
}

.error-content {
  width: 40%;
  font-weight: 300;
}

.er-title {
  color: #00a9aa;
  font-size: 36px;
}

.er-text {
  font-size: 18px;
  color: #000000;
  line-height: 24px;
  margin-top: 20px;
}

.er-back {
  margin-top: 20px;
  color: #00a9aa;
  text-decoration: underline;
  font-size: 18px;
  display: inline-block;
}

.page-up {
  position: fixed;
  width: 30px;
  cursor: pointer;
  z-index: -1;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.page-up.active {
  z-index: 9999;
  opacity: 1;
}

.input-wrap {
  width: 100%;
  position: relative;
}

.input-wrap .error-input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
  color: #bd463a;
  font-size: 13px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  position: absolute;
  z-index: 0;
  opacity: 0;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

.input-wrap .error-input img {
  width: 20px;
}

.input-wrap.error-in input {
  border-bottom: 1px solid #bd463a;
}

.input-wrap.error-in .error-input {
  position: static;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  z-index: 1;
  opacity: 1;
}

p {
  font-size: 1.28rem;
  line-height: 1.7rem;
}

.tabs,
.tabs-child {
  white-space: normal;
}

.procedures-header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.procedures-header span {
  width: 100%;
}

.text-link:before {
  content: '';
  position: absolute;
  display: none;
  top: 17px;
  border: 6px solid transparent;
  width: 0;
  left: 83%;
  height: 0;
  border-left: 8px solid #fff;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  z-index: 9999999999999999999999;
}

.text-link.ar:before {
  display: block;
}

.dropdown-menu ul.phone-wrap li a {
  padding: 0;
  line-height: normal;
}

.dropdown-menu ul.phone-wrap li a:hover {
  background-color: transparent;
  color: #666666;
}

.clinics-noslider {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.history-default .swiper-network {
  margin: 55px -10px 0;
}

.clinics-noslider .clinics-card {
  width: 31%;
}

.nav-for-page-wrap ul li a,
.dropdown-menu ul li a {
  border-bottom: none;
}

.margin-zero {
  padding-bottom: 0;
}

.history-default.partnership-head-screen ul li {
  margin-top: 35px;
}

.direction-spec-noslider {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wcall {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-footer {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contacts-footer .helper-info {
  margin-bottom: 40px;
}
