//btn
.btn {
  font-size: 1.14rem;
  background: transparent;
  font-weight: 500;
  letter-spacing: 0.56px;
  padding: 10px 15px;
  border-radius: 2px;
  color: #f1f2f2;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  transition: all .1s linear;

  &.btn-entry {
    border: 1px solid #ffffff;
    font-size: 1rem;
    flex-shrink: 0;

    &:hover {
      background-color: #007f80;
      border: 1px solid #007f80;
    }
  }

  &.btn-slide {
    background-color: #f15a29;

    &:hover {
      background-color: #b64b25;
    }
  }

  &.btn-default {
    border: 2px solid #808285;
    color: #808285;
    padding: 10px 30px 10px 15px;

    img {
      position: absolute;
      top: 49%;
      transform: translateY(-50%);
      right: 4px;
      width: 26px;
      display: none;

      &.gray-ar {
        display: inline-block;
      }
    }

    &.mini {
      padding: 8px 12px;
      font-size: 1rem;
      letter-spacing: 0.16px;
      flex-shrink: 0;
    }

    &:hover {
      color: #fff;
      background-color: #00a9aa;
      border: 2px solid #00a9aa;

      img {

        &.gray-ar {
          display: none;
        }

        &.white-arr {
          display: inline-block;
        }
      }
    }
  }

  &.btn-vac {
    background-color: #00a9aa;
    padding: 15px;
  }

  &:hover {
    color: #f1f2f2;
  }
}

body.active:before {
  content: '';
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
}

//Title
.title {
  font-weight: 700;
  font-size: 2.85rem;
  margin-bottom: 20px;
}

//Description
.description {
  font-size: 1.28rem;
}

//input
input, textarea {
  padding: 9px 10px 9px 0;
  color: #000;
  letter-spacing: 0.16px;
  font-size: 1.14rem;
  border-bottom: 1px solid #a7a9ac;
  width: 100%;
  background-color: transparent;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  border-radius: 0;

  &::placeholder {
    color: #666666;
    letter-spacing: 0.16px;
    font-size: 1.14rem;
    font-weight: 300;
  }
}

input:focus {
  border-bottom: 1px solid #0faeaf;
}

textarea {
  padding: 10px 15px;
  border: 1px solid #a7a9ac;
  border-radius: 2px;
}

// Doctors
.doctors {
  padding: 80px 0 100px;

  .doctors-text {
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
  }
}

// Price
.price {
  padding: 85px 0 130px;

  .accordion-wrap {
    margin-top: 25px;
    margin-bottom: 100px;
  }
}

body.active {
  overflow: hidden;
}

// Header ------------------------------------------------------------
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(77, 139, 137, .8);
  color: #f1f2f2;
}

.header-rel {
  position: absolute !important;
}

.header-wrap {
  min-height: 72px;

  .btn.btn-entry {
    margin-left: 25px;
  }
}

.dop-info-header {
  margin-left: 10px;
}

.call-info {
  flex-shrink: 0;
}

.nav-header {
  font-size: 1.14rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-left: 20px;
  margin-right: 10px;

  .nav-link {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;

    & + .nav-link {
      margin-left: 22px;
    }

    img {
      transition: all .1s linear;
    }

    &.active {

      .text-link {

        img {
          transform: rotate(180deg);
        }
      }
    }
  }

  .name-nav {
    vertical-align: middle;
  }
}

.text-link-active {
  font-weight: bold;
}

.wrapper-nav-link {
  white-space: nowrap;
}

.arr-down-w {
  width: 18px;
  vertical-align: middle;
}

.arr-up {
  transform: rotateX(180deg);
}

.ad-more {
  cursor: pointer;

  .phone-call-img {
    width: 26px;
  }

  img {
    transition: all .1s linear;
  }

  &.active {

    img.arr-down-w {
      transform: rotate(180deg);
    }
  }
}

.lang-page {
  cursor: pointer;
  margin-left: 25px;
}

.now-lang {
  display: flex;
  align-items: center;

  img {
    transition: all .1s linear;
  }

  &.active {

    img {
      transform: rotate(180deg);
    }
  }
}

.mob_menu {
  margin-left: 10px;
  display: none;

  .burger {
    width: 25px;
    cursor: pointer;
  }
}

.search-inp-wrap {
  position: relative;
}

.services-header {
  width: 71%;
}

.directions,
.prog-header,
.procedures-header,
.diagnostics-header {
  flex-wrap: wrap;

  span, p {
    margin-top: 10px;
    color: #231f20;
    font-weight: 300;
  }

  p.diagnostics-title {
    font-weight: 500;
  }
}

.diagnostics-header {
  display: block !important;
  column-count: 3;
  column-gap: 25px;

  .diagnostics-card {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
  }
}

.directions,
.procedures-header {
  span {
    width: 23%;
  }
}

.prog-header {
  span {
    width: 49%;
  }
}

.nav-active {
  display: flex !important;
}

// Main ---------------------------------------------------------------
main {
  position: relative;

}

//Index Page ------------------

// Head Screen
.head-screen {
  margin-top: -72px;
}

.head-screen-wrap {
  padding: 0;
}

.swiper-head-screen {
  width: 100%;
  overflow: hidden;
  position: relative;

  .swiper-slide {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .slide-content {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .title-slide {
      color: #005555;
      font-size: 3.42rem;
      font-weight: 700;
      max-width: 610px;
      text-align: center;
      line-height: 3.64rem;
    }

    .btn-slide {
      margin-top: 40px;
    }

    img {
      width: 100%;
    }
  }

  .swiper-pagination {
    margin-top: 20px;
  }
}

.advantages {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, .7);
  padding: 35px 0;
}

.advantages-wrap {
  width: 100%;
  padding: 0 15px;
  max-width: 1550px;
  margin: 0 auto;
}

.advantages-card {
  min-height: 160px;
  background-color: #fff;
  width: 23%;
  border-radius: 3px;
  padding: 40px 20px 0;
  text-align: center;
  font-size: 1.28rem;
  position: relative;

  .adv-num {
    font-size: 4.28rem;
    line-height: 3.6rem;
    color: #00a9aa;
    font-weight: 700;
    margin-bottom: 3px;

    span {
      font-size: 1.28rem;
      line-height: normal;
      margin-left: 4px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    left: 20%;
    right: 20%;
    border-radius: 100px / 10px;
  }
}

//our-advantages-screen
.our-advantages-screen {
  padding: 125px 0;
}

.def-sec-adv {
  padding-left: 85px;

  .num-advantage {
    font-size: 3.28rem;
    color: #a7a9ac;
    font-weight: 700;
    margin-right: 20px;
    line-height: 2.5rem;
  }

  .desc-advantage-wrap {
    border-left: 1px solid #808285;
    padding-left: 20px;
  }

  .title-adv {
    font-weight: 500;
    font-size: 2.14rem;
    margin-bottom: 5px;
  }

  .desc-adv {
    font-size: 1.28rem;
  }

  &.w50 {
    width: 53%;
  }
}

.advantages-clinic,
.advantages-specialists {
  margin-top: 135px;
}

.advantages-clinic-wrap {
  padding: 70px 0 75px;
  position: relative;

  .btn {
    margin-left: 20px;
    margin-top: 20px;
  }
}

.swiper-certificate {
  width: 262px;
  overflow: hidden;
  position: absolute;
  top: -65px;
  right: 115px;

  .swiper-pagination {

    &-bullet {
      width: 19px;
      height: 19px;
    }

    span + span {
      margin-left: 15px;
    }
  }
}

.swiper-specialists,
.swiper-direction-spec {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 5px;
  margin-top: 65px;

  .swiper-slide {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    border-radius: 2px;
    background-color: #ffffff;
    overflow: hidden;
  }
}

.direction-spec-noslider {
  flex-wrap: wrap;
  justify-content: flex-end;

  .direction-spec-card {
    width: 21%;
    margin-left: 20px;
    margin-bottom: 20px;

    &:first-child {
      margin-left: 0;
    }

    &:nth-child(5) {
      margin-left: 0;
    }
  }
}

.specialist-info {
  padding: 5px 18px 30px;

  .specialist-fio {
    color: #000;
    font-size: 1.28rem;
    font-weight: 500;
  }

  .specialist-prof {
    font-size: 1.14rem;
    min-height: 77px;
  }
}

.specialist-comment {
  margin-top: 10px;

  img {
    width: 20px;
  }

  span {
    margin-left: 2px;
  }
}

.more-btn {
  margin-top: 45px;
  text-align: center;
}

.equipment {
  padding: 75px 0 60px;
  margin-top: 85px;
}

.swiper-equipment {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-left: 150px;
  margin-top: 40px;

  .swiper-wrapper {
    display: flex;
    align-items: center;
  }

  .swiper-slide {
    width: 20%;
  }
}

.specialist-noslider {
  flex-wrap: wrap;
  justify-content: center;

  .specialist-card {
    width: 15%;
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.network-clinics {
  padding-top: 110px;
}

.swiper-network {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 55px;
  padding: 10px;

  .swiper-slide img {
    transition: all .1s linear;

    &:hover {
      box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.5);
    }
  }
}

.clinics-noslider {
  flex-wrap: wrap;
  justify-content: center;

  .clinics-card {
    width: 25%;
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
      margin-bottom: 20px;
    }

    &:nth-child(2) {
      margin-bottom: 20px;
    }

    &:nth-child(3) {
      margin-bottom: 20px;
    }

    &:nth-child(4) {
      margin-left: 0;
    }
  }
}

.trusted {
  margin-top: 130px;
}

.swiper-trusted,
.swiper-write,
.swiper-certf {
  max-width: 605px;
  position: relative;
  overflow: hidden;
  padding: 5px;

  .swiper-slide {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    border-radius: 2px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 88px;
  }
}

.about-us-write {
  margin-top: 110px;
}

.reviews {
  padding: 40px 0 10px;

  .swiper-button-next, .swiper-button-prev {
    top: 67%;
  }
}

.swiper-reviews {
  max-width: 605px;
  position: relative;
  overflow: hidden;

  .swiper-slide {
    text-align: center;
  }

  .swiper-pagination {
    margin-top: 30px;

    &-bullet {
      width: 13px;
      height: 13px;
    }
  }
}

.review-date {
  color: #58595b;
  font-size: .85rem;
  line-height: .85rem;
}

.review-name {
  font-weight: 500;
  font-size: 1.14rem;
  line-height: 1.42rem;
  margin-top: 2px;
}

.review-photo {
  margin-bottom: 7px;
}

.review-rating {
  margin-top: 7px;
}

.review-text {
  margin-top: 40px;
  text-align: left;
  font-size: 1.14rem;
}

//Index Page End ------------------

// Direction Page -----------------
.nav-page {
  min-height: 60px;
  height: 0;
  padding: 10px 0;
  font-size: .85rem;
  color: #808285;
  display: flex;
  align-items: center;

  .nav-page-img {
    display: none;
    width: 15px;
    transform: rotate(90deg);
  }

  a {
    text-decoration: underline;
    position: relative;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -22px;
      background: url("../img/arr-long-r.svg") no-repeat;
      height: 5px;
      width: 17px;
    }

    & + a {
      margin-left: 22px;
    }

    &:last-child {
      color: #231f20;
      text-decoration: none;
      font-weight: 500;

      &::before {
        display: none;
      }
    }
  }
}

.direction-head-photo {
  margin-bottom: 55px;

  img {
    width: 100%;
  }
}

.direction-title {
  font-size: 2.57rem;
  font-weight: 700;

  &.mini {
    font-size: 2.14rem;
    font-weight: 500;
  }

  &.urgently {

    .occupation {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &.cont {
    margin-left: 140px;
  }

  &.center {
    text-align: left;
    margin-left: 340px;
  }
}

.direction-desc {
  font-size: 1.28rem;
  margin-top: 25px;
  line-height: 1.7rem;

  &.mini {
    margin-top: 0;
    font-weight: 500;
  }

  p + p {
    margin-top: 25px;
  }
}

.possible-problems {
  padding-top: 60px;
  padding-bottom: 70px;
}

ol {
  list-style-type: decimal;
  margin-top: 25px;
  font-weight: 500;

  li {
    font-size: 1.28rem;
    margin-left: 20px;

    p {
      font-weight: 300;
      display: inline-flex;
    }

    a {
      border-bottom: 1px solid #000000;
    }

    & + li {
      margin-top: 25px;
    }
  }
}

.man-drop {
  left: 75px !important;
}

.oc-wrap {
  margin-right: auto;
}

.mob-s {
  display: none;
}

.direction-certificate {
  padding: 60px 0;

  .sliders-wrap {
    margin-left: 0;
    width: 100%;
  }

  .swiper-certf {
    max-width: 100%;
  }

  .def-sec-adv {
    max-width: 587px;
    padding-left: 0;

    .desc-adv {
      font-size: 1.28rem;
    }
  }
}

.symptoms {
  padding: 80px 0 50px;
}

.section-wrap {
  overflow: hidden;
}

.reminder {
  font-size: 1.28rem;

  &.mt {
    margin-top: 25px;
  }

  p + p {
    margin-top: 25px;
  }
}

.disease {
  padding: 55px 0 40px;
}

ul {
  font-size: 1.28rem;

  li {
    margin-top: 15px;

    a {
      border-bottom: 1px solid #000000;
      text-decoration: none;
    }
  }
}

.direction-list-circle {
  flex-wrap: wrap;
  margin-top: 5px;

  li {
    list-style-type: disc;
    list-style-position: inside;
    width: 48%;
    margin-top: 12px;

    & * {
      font-size: 1.28rem;
      vertical-align: middle;
    }

    &.urgently {

      .occupation {
        display: inline-block;
      }
    }
  }

  &.w100 {

    li {
      width: 100%;
    }
  }
}

.operations {
  padding: 90px 0 25px;
}

.diagnostics,
.treatment,
.operations-hospital {
  padding: 50px 0 25px;
}

.programs,
.surgeon-treatment,
.postoperative,
.history-default {
  padding: 50px 0 85px;

  .direction-list-num {
    list-style-type: none;

    .direction-list-text {
      padding-left: 0;
    }
  }
}

//left menu
.nav-for-page {
  position: fixed;
  top: 130px;
  z-index: 9;
  padding-left: 40px;

  ul {
    font-size: 1.28rem;
    max-width: 201px;

    li {

      &.active {
        list-style-type: disc;
        font-weight: 500;
      }

      & + li {
        margin-top: 12px;
      }
    }
  }

  .nav-for-page-close {
    display: none;
  }

  .nav-for-page-text {
    display: none;
  }

  .def-nav-sec {
    margin-top: 45px;
  }
}

// Direction Page End -----------------

// Diseases Page ----------------------
.diseases {
  padding: 40px 0 50px;
}

// Diseases Page End-------------------

// Price Page -------------------------
.search-price,
.search-doc {

  .btn {
    padding: 8px 18px;
    font-weight: 600;
  }
}

.search-price,
.search-doc,
.search-header,
.services-header {
  margin: 65px 0;

  .search-inp-wrap {
    margin-right: 40px;
    width: 100%;
    position: relative;

    .js-clearVal {
      display: none;

      &.active {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        cursor: pointer;
        display: block;
        z-index: 40;
      }
    }
  }

  #search-price {
    padding-right: 30px;
  }

  .drop-result {
    white-space: normal;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    color: #808080;
    font-size: 1.28rem;
    background-color: #f9f9f9;
    line-height: 1.5rem;
    z-index: -1;
    padding: 5px 7px 10px;
    opacity: 0;
    transition: all .1s linear;

    a {
      padding: 13px 7px;
      background-color: #fff;
      display: block;

      & + a {
        margin-top: 5px;
      }
    }

    &.active {
      z-index: 30;
      opacity: 1;
    }
  }
}

.services-header {
  margin: 0;

  input {
    border-bottom: none;
    padding: 9px 10px;
  }

  .search-inp-wrap {
    background-color: #f9f9f9;
    margin-bottom: 45px;

    .search-i-header {
      position: absolute;
      top: 10px;
      right: 15px;
    }
  }
}

.services-info {
  font-size: 1.14rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services-info {

  a {
    text-decoration: underline;
  }
}

.services-desc {
  font-size: 1.14rem;
  line-height: 1.4rem;
  max-width: 590px;
  transition: max-height .2s ease;

  p {
    margin-top: 10px;

    &:empty {
      margin-top: 0;
    }
  }

  ul {
    width: 100%;
    list-style-type: decimal;
    margin-left: 20px;

    li {
      margin-top: 10px;
    }
  }
}

.services-price {
  font-weight: 300;
  margin-left: 10px;
  white-space: nowrap;

  span {
    font-size: 1.71rem;
    margin-right: 3px;
    font-weight: 500;
  }
}

.more-services-info {
  align-items: center;
  font-size: 1.14rem;
  display: none;
  margin-top: 15px;
  cursor: pointer;

  img {
    width: 21px;
    flex-shrink: 0;
    transition: all .2s linear;
  }

  .no-more {
    display: none;
  }

  &.active {

    .more {
      display: none;
    }

    .no-more {
      display: inline-block;
    }

    img {
      transform: rotate(180deg);
    }
  }
}

.services {
  padding: 23px 30px;

  & + .services {
    border-top: 1px solid #808285;
  }

  &.active {

    .services-desc {
      max-height: 92px;
      overflow: hidden;

      &.active {
        max-height: 100%;
        overflow: visible;
      }
    }

    .more-services-info {
      display: flex;
    }
  }
}

.price-accordion {
  display: none;

  &.active {
    display: block;
  }
}

.search-result-wrap {
  display: none;
  border-bottom: 1px solid #808285;

  &.active {
    display: block;
  }
}

.warning-search {
  color: #f15a29;
  font-size: 1.14rem;
  line-height: 1.28rem;
  display: none;

  &.active {
    display: block;
  }
}

// Price Page End----------------------

// Doctors Page End----------------------
.set-doc-search {
  padding: 100px 0 70px;
  margin-top: 65px;
}

.search-doc {
  max-width: 450px;
  margin: 60px 0 0;
}

.search-by-name {
  font-size: 1.14rem;
  margin-top: 7px;

  span {
    cursor: pointer;

    & + span {
      margin-left: 7px;
    }
  }
}

.search-doc-screen {
  padding: 40px 0;
}

.doctors-result-cards {
  flex-wrap: wrap;
  margin-top: 70px;
}

.doc-card {
  display: none;
}

.doc-card.active,
.doc-card-more {
  width: 23.5%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  border-radius: 2px;
  background-color: #ffffff;
  overflow: hidden;
  margin-top: 20px;
  min-height: 398px;
  display: block;
}

.doc-card-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .1s linear;

  &:hover {
    opacity: .9;
  }

  &.hide {
    display: none;
  }
}

.doc-card-clear {
  width: 23.5%;
  background-color: transparent;
  overflow: hidden;
}

.more-card-info {
  margin-top: 50px;
  color: #808285;
  font-size: 1.28rem;

  .val-card {
    font-weight: 500;
  }
}

// Doctors Page End----------------------

// Doctor Prof --------------------------
.head-info-doc {
  padding-bottom: 100px;
}

.doc-info-photo {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  border-radius: 2px;
  background-color: #ffffff;
  max-width: 445px;
  width: 100%;
  padding: 15px 0 0;

  .specialist-info {
    padding: 30px 18px;

    .search-result-item__star-rating {
      width: 120px;
      height: 24px;
      background-size: 24px 24px;
    }

    .search-result-item__star {
      background-size: 24px 24px;
    }

    .specialist-comment {
      margin-top: 0;

      img {
        width: 35px;
      }

      span {
        font-size: 1.6rem;
      }
    }
  }
}

.doc-info {
  margin-left: 40px;
  font-size: 1.14rem;
}

.doc-prof {
  margin-top: 3px;
  font-size: 1.28rem;
}

.doc-name {
  font-weight: 500;
  font-size: 2.14rem;
}

.doc-info-wrap {
  align-items: flex-start;
}

.doc-info-list {
  margin: 30px 0 50px;
  line-height: 1.8rem;

  .list-title {
    font-weight: 500;

    .price-doc-val {
      font-weight: 300;
      font-size: 2.14rem;
    }
  }

  .price-doc {
    margin-top: 30px;
  }

  a {
    text-decoration: underline;
    display: block;
    border: none;
  }
}

.direction-spec-noslider .direction-spec-card {
  width: 23%;
}

.diagnostic-methods,
.diseases-for-heals,
.exp-work,
.theme-since-works,
.trainings {
  padding: 20px 0;
}

.reviews-doctors {
  margin-top: 70px;
  padding: 30px 0 100px;
}

.send-review {
  max-height: 0;
  overflow: hidden;
  transition: all .1s linear;

  &.active {
    margin-top: 70px;
    max-height: 100%;
  }
}

.reviews-star {

  .send-review-text {
    font-size: 1.28rem;
    font-weight: 500;
  }

  .rating-select {
    margin-left: 30px;

    img {
      width: 21px;
      height: 19px;
      cursor: pointer;
    }
  }
}

.review-form-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 55px;

  .input-wrap {
    width: 48%;
  }

  textarea {
    width: 100%;
    margin-top: 55px;
    min-height: 155px;
  }
}

.robots {
  justify-content: flex-end;
  margin-top: 25px;

  .checkbox {
    margin-right: 25px;
  }
}

.js-open-rev {

  img {
    transform: translateY(-50%);
    transition: .2s;
  }

  &.active {

    img {
      transform: translateY(-50%) rotate(-180deg);
    }
  }
}

.rev-data {
  color: #58595b;
}

.rev-name {
  font-weight: 500;
  font-size: 1.28rem;
  margin-top: 3px;
}

.reviews-people {
  display: none;

  .search-result-item__star-rating {
    margin-top: 10px;
    background-size: 16px 16px;
  }

  .search-result-item__star {
    background-size: 16px 16px;
  }

  & + .reviews-people {
    margin-top: 75px;
  }
}

.rev-text {
  font-size: 1.28rem;
  margin-top: 20px;
}

.reviews-people-wrap {
  margin-top: 75px;
}

.more-rev {
  color: #808285;
  font-size: 1.28rem;
  margin-top: 60px;

  &.cont {
    margin-left: 140px;
  }
}

.show-more-rev {
  cursor: pointer;
  margin-right: 55px;

  img {
    width: 22px;
  }
}

//.total-rev {
//  margin-left: 55px;
//}

.other-doctors {

  .direction-title {
    text-align: center;
  }
}

.doctors-cards {
  margin-top: 50px;
  flex-wrap: wrap;
}

.other-doctors {
  padding: 100px 0 50px;
}

// Doctor Prof End-----------------------

// Hospital/operation Page---------------
.hospital {
  padding: 25px 0;
  margin-top: 20px;

  .direction-title {
    font-size: 1.28rem;
  }
}

.wards {
  padding: 20px 0 80px;
}

.hospital-price {

  .accordion-wrap {
    margin-bottom: 0;
  }
}

// Hospital/operation Page End-----------

// Wards price Page-----------
.wards-price {
  padding: 85px 0 30px;

  .accordion-wrap {
    margin-bottom: 0;
  }
}

.wards-screen {
  padding: 60px 0 15px;
}

// Wards price Page End-----------

// Urgent Care Page---------------
.brigades {
  padding: 80px 0 20px;
}

.brigades-desc {
  padding: 30px 0 10px;
}

.duty {
  padding: 80px 0 20px;
}

.mini-list {
  list-style-type: disc;
  margin-top: 5px;

  li {
    list-style-position: inside;
    font-weight: 300;

    & + li {
      margin-top: 5px;
    }
  }
}

.treatment-brigades {
  padding: 50px 0 10px;
}

.hospital-no-title {
  padding: 10px 0 25px;
}

.wards-title {
  font-size: 1.28rem;
  font-weight: 500;
  margin-top: 20px;
}

// Urgent Care Page End-----------

// History Page ------------------
.history-default {
  padding: 0 0 30px 0;

  .swiper-network {
    margin-top: 15px;
  }
}

// History Page End---------------

// Partnership Page --------------
.partnership-head-screen {
  padding: 0 0 20px;
}

.swiper-license {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 5px;

  .swiper-slide {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    border-radius: 2px;
    background-color: #ffffff;
    overflow: hidden;
    padding: 5px;
    position: relative;
  }

  .action-license {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 17px 35px;
    border-radius: 0 0 2px 2px;
    background-color: #ffffff;
    opacity: 0.8;

    img {
      width: 25px;
    }

    a + a {
      margin-left: 30px;
    }
  }
}

.license {
  padding: 30px 0 80px;

  .sliders-wrap {
    margin-left: 0;
    width: 100%;
    margin-top: 0;
  }
}

.our-partners-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;

  .partners-card {
    width: 15%;
    height: 90px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    border-radius: 2px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      flex-shrink: 0;
    }
  }
}

.our-partners-wrap {
  .more-btn {
    text-align: left;
  }

  & + .our-partners-wrap {
    margin-top: 75px;
  }
}

.partners {
  margin-top: 30px;
}

.our-partners {
  padding: 20px 0 50px;
}

// Partnership Page End-----------

// Vacancies Page-----------------
.vacancies {
  padding: 50px 0;
}

.medical-doc {

  & + .medical-doc {
    margin-top: 40px;
  }
}

.feedback-wrap {
  margin-top: 50px;
  padding-bottom: 30px;
}

.card {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  & + .card {
    margin-top: 80px;
  }
}

.card-photo {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #efeff0;
  margin-top: 10px;

  img {
    flex-shrink: 0;
  }
}

.card-small-text {
  color: #58595b;
}

.card-title-text {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 12px;

  a {
    border-bottom: 1.5px solid #000;
    margin-bottom: 5px;
  }
}

.card-desc-text {
  font-size: 1.14rem;
  line-height: 1.7rem;
  margin-top: 12px;
}

.feedback-out-staff {
  padding: 30px 0 50px;
}

.card-content {
  margin-left: 40px;
  width: 84%;
}

.feedback-content {

  &.active {
    .more-services-info {
      display: flex;
      width: 100%;
    }
    .feedback-desc {
      max-height: 70px;
      overflow: hidden;

      &.active {
        max-height: 100%;
        overflow: visible;
      }
    }
  }
}

// Vacancies Page End-------------

// Vacanci Deployed Page-----------------
.file {
  min-width: 200px;
  display: flex;
  align-items: flex-start;
}

.resume-wrap {

  .btn {
    margin-left: 55px;
  }
}

.resume-send {
  padding: 30px 0;
}

// Vacanci Deployed Page End-------------

// News Page-----------------
.news-year {
  margin-top: 60px;

  & + .news-year {
    margin-top: 100px;
  }
}

.news-wrap {
  margin-top: 20px;
}

.news-desc {
  margin-top: 5px;
}

.news-card + .news-card {
  margin-top: 50px;
}

// News Page End-------------
// Single-News Page-----------------
.head-info {
  padding-bottom: 30px;

  p {
    font-size: 1.28rem;
  }

  .news-data {
    margin-bottom: 10px;
  }
}

.news-theme {
  padding-top: 40px;
  padding-bottom: 100px;
}

// Single-News Page End-------------

// Reviews Page-----------------
.reviews-screen {
  margin-top: 0;
}

.answer-rev {

  .reviews-people {
    padding-left: 100px;
    margin-top: 30px;
  }

  .rev-text {
    color: #58595b;
    margin-top: 10px;
  }
}

.rev-photo-wrap {
  display: none;

  &.active {
    display: block;

    .more-services-info {
      display: flex;
    }
  }
}

.rev-photo {
  border: 10px solid #f1f2f2;
  overflow: hidden;
  transition: all .2s linear;
  margin-top: 10px;

  img {
    width: 100%;
  }

  &.active {
    max-height: 80px;
  }
}

// Reviews Page End-------------

// Form Doc/Med Page ----------------
.personal-data {
  margin-top: 55px;

  .btn {
    margin-left: 340px;
    margin-top: 45px;
  }
}

.form-vac {
  display: flex;

  .name-section {
    font-weight: 500;
    font-size: 1.7rem;
    text-align: right;
    padding-right: 65px;
    border-right: 1px solid #cccccc;
    max-width: 250px;
    width: 100%;
  }

  .input-g {
    padding-left: 90px;
    max-width: 410px;
    width: 100%;

    .input-wrap + .input-wrap {
      margin-top: 40px;
    }

    textarea {
      min-height: 200px;
      margin-bottom: 40px;

      &.dop {
        margin-bottom: 0;
      }
    }

    .date-born {
      font-size: 1.14rem;
      font-weight: 500;
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-end;
      margin: 40px 0;

      input {
        width: 42px;
        margin-left: 10px;
        flex-shrink: 0;
        text-align: center;
        padding: 3px;

        & + input {
          margin-top: 0;
        }

        &.year {
          width: 60px;
          margin-right: 10px;
        }

        &.sum {
          width: 96px;
          margin-right: 10px;
        }
      }

      &.text {
        margin: 0;
      }
    }
  }

  & + .form-vac {
    margin-top: 100px;
  }
}

.check-row {
  margin-top: 20px;
  color: #000000;
}

.check-column {
  color: #000000;
  margin-top: 20px;
  margin-bottom: 20px;

  .checkbox + .checkbox {
    margin-top: 10px;
  }
}

.date-born + .check-column {
  margin-top: 10px;
  margin-bottom: 0;
}

// Form Doc/Med Page End-------------

// Header mode-------------------------------------
.search-header {
  margin: 0 0 0 10px;

  .search-icon {
    cursor: pointer;
    flex-shrink: 0;

    button.sub {
      background-color: transparent;
      display: none;
    }

    &.active {

      button.sub {
        display: block;
      }

      .desc-i {
        display: none;
      }
    }
  }

  .search-inp-wrap {
    display: none;
    margin-right: 10px;
    max-width: 800px;
    width: 700px;

    .drop-result {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  input {
    color: #f1f2f2;
    border-bottom: 1px solid #fff;
    padding: 3px 0;

    &::placeholder {
      color: #f1f2f2;
    }
  }
}

// Header mode-------------------------------------

// Footer ------------------------------------------------------------
footer {
  padding-top: 80px;
}

.helper {
  position: relative;

  .dark-top {
    position: absolute;
    height: 300px;
    z-index: 1;
    top: -81px;
    left: 0;
    width: 100%;
  }

  .dark-bottom {
    position: absolute;
    height: 200px;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.helper-wrap {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
  border-radius: 2px;
  background-color: #ffffff;
  padding: 45px 15px 0 0;
  align-items: flex-start;
  position: relative;
  z-index: 10;

  .call-center-img {
    flex-shrink: 0;
  }
}

.helper-info {
  width: 290px;

  .title-helper-info {
    color: #007f80;
    font-weight: 500;
    font-size: 1.85rem;
  }

  .desc-helper-info {
    margin-top: 3px;
    font-weight: 300;
    font-size: 1rem;
  }

  .input-group {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;

    .input-wrap + .input-wrap {
      margin-top: 40px;
    }
  }

  .sumb-form {
    text-align: right;
    margin-top: 30px;
  }
}

.head-review {
  margin-top: 150px;
  padding-bottom: 35px;
}

.head-review-wrap {

  .head-review-text {
    font-weight: 500;
    font-size: 1.71rem;
    margin-right: 20px;
  }

  .rating-select {

    img {
      width: 27px;
      height: 27px;
      cursor: pointer;
    }
  }
}

.contacts {
  padding: 10px 0 75px;
}

.contacts-wrap {
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts-card {
  color: #000000;
  max-width: 237px;
  width: 100%;
  margin-top: 75px;

  .arr-down {
    display: none;
  }

  .card-title {
    color: #007f80;
    font-weight: 500;
    font-size: 1.42rem;

    & + .card-address {
      margin-top: 0;
    }
  }

  .card-address {
    font-weight: 500;
    margin-top: 24px;
  }

  .card-info {
    margin-top: 20px;
    line-height: 1.57rem;
  }

  .card-link-geo {
    color: #231f20;
    margin-top: 20px;

    a {
      border-bottom: 1px solid #000;
    }
  }
}

.bottom-footer {
  background-color: #00a9aa;
  color: #f1f2f2;
}

.bottom-footer-wrap {
  min-height: 70px;
  padding: 10px 0;
}

.author-license {
  font-weight: 500;
  font-size: .85rem;
}

.pay {
  margin-left: 55px;

  img {
    width: 50px;

    & + img {
      margin-left: 10px;
    }
  }
}

.mail-control {
  font-size: 1.14rem;
  margin-right: auto;
  margin-left: 14%;

  span {
    text-decoration: underline;
  }

  img {
    width: 25px;
    margin-right: 25px;
  }
}

.soc-nav {

  img {
    width: 32px;
  }

  a {
    transition: all .1s line
  }

  a:hover {
    opacity: .9;
  }

  a + a {
    margin-left: 5px;
  }
}

// PopUps
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
  opacity: 0;
  transition: all .2s linear;

  .exit-pop {
    position: absolute;
    top: 10px;
    right: 7px;
    cursor: pointer;
    width: 25px;
  }

  .pop-search-doc {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 463px;
    min-height: 439px;
    height: 0;
    position: relative;
    background-color: #fff;
    padding-top: 20px;
  }

  .send-app {
    text-align: center;
  }

  .title-pop {
    font-weight: 500;
    font-size: 2.14rem;
  }

  .desc-pop {
    font-size: 1.28rem;
  }

  .timer-over {
    margin-top: 35px;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    li {
      font-weight: 500;
      font-size: 2.57rem;
    }
  }

  .send-app-big {
    max-width: 920px;
    text-align: center;
  }

  &.active {
    z-index: 99999;
    opacity: 1;
  }
}

.mob_menu {
  margin-top: 4px;
}

#sm-menu {
  display: none;
  &.active {
    display: block ;
  }
}

.wrapper-nav-link {

  .nav-link {

    .n-icon-b {
      display: none;
    }
  }

  .duble-menu {
    display: none;
    transform: scale(0);
  }
}

.burger-desk {
  display: flex;
  flex-direction: column;
  padding: 35px 20px;

  .nav-link {
    color: #666;

    &.drop-duble {
      display: block !important;

      .n-icon-b {
        display: block;
        width: 12px;
        margin-left: 5px;
        transition: all .2s linear;
      }

      .duble-menu {
        padding: 5px 0 0 10px;
        display: none;

        a + a {
          margin-top: 7px;
        }
      }

      &.active {

        .duble-name {
          font-weight: 500;
        }

        .n-icon-b {
          transform: rotate(180deg);
        }

        .duble-menu {
          display: flex;
        }
      }
    }
  }
}

.nav-header .burger-desk .nav-link + .nav-link {
  margin-left: 0;
  margin-top: 10px;
}

.nav-header .burger-desk .nav-link {
  display: flex;
}

.diagnostics-card {
  white-space: normal;
}

.search-i-g {
  display: none;
}

.search-page {
  padding: 75px 0;

  .direction-list-num {
    margin-top: 40px;

    .direction-list-text {
      padding-left: 0;
    }
  }
}

.error {
  padding: 160px 0;
}

.error-icon {
  width: 50%;
}

.error-content {
  width: 40%;
  font-weight: 300;
}

.er-title {
  color: #00a9aa;
  font-size: 36px;
}

.er-text {
  font-size: 18px;
  color: #000000;
  line-height: 24px;
  margin-top: 20px;
}

.er-back {
  margin-top: 20px;
  color: #00a9aa;
  text-decoration: underline;
  font-size: 18px;
  display: inline-block;
}

.page-up {
  position: fixed;
  width: 30px;
  cursor: pointer;
  z-index: -1;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  transition: all .2s linear;

  &.active {
    z-index: 9999;
    opacity: 1;
  }
}

.input-wrap {
  width: 100%;
  position: relative;

  .error-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    color: #bd463a;
    font-size: 13px;
    transform: scale(0);
    position: absolute;
    z-index: 0;
    opacity: 0;
    transition: all .1s linear;

    img {
      width: 20px;
    }
  }

  &.error-in {

    input {
      border-bottom: 1px solid #bd463a;
    }

    .error-input {
      position: static;
      transform: scale(1);
      z-index: 1;
      opacity: 1;
    }
  }
}

p {
  font-size: 1.28rem;
  line-height: 1.7rem;
}

.tabs,
.tabs-child {
  white-space: normal;
}

.procedures-header {
  flex-direction: column;

  span {
    width: 100%;
  }
}

.text-link {

  &:before {
    content: '';
    position: absolute;
    display: none;
    top: 17px;
    border: 6px solid transparent;
    width: 0;
    left: 83%;
    height: 0;
    border-left: 8px solid #fff;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    z-index: 9999999999999999999999;
  }

  &.ar {
    &:before {
      display: block;
    }
  }
}

.dropdown-menu ul.phone-wrap li a {
  padding: 0;
  line-height: normal;

  &:hover {
    background-color: transparent;
    color: #666666;
  }
}

.clinics-noslider {
  justify-content: space-between;
}

.history-default .swiper-network {
  margin: 55px -10px 0;
}

.clinics-noslider .clinics-card {
  width: 31%;
}

.nav-for-page-wrap,
.dropdown-menu {

  ul li a {
    border-bottom: none;
  }
}

.margin-zero {
  padding-bottom: 0;
}

.history-default.partnership-head-screen {
  ul li {
    margin-top: 35px;
  }
}

.direction-spec-noslider {
  justify-content: center;
}

.wcall {
  display: flex;
  align-items: center;
}

.contacts-footer {
  align-items: flex-end;

  .helper-info {
    margin-bottom: 40px;
  }
}