// Swiper
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("../img/arrow-head-slide-r.png");
}

.swiper-button-next, .swiper-button-prev {
  width: 24px;
  height: 46px;
  background-size: 24px 46px;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url("../img/arrow-head-slide-r.png");
  transform: rotate(-180deg);
}

.swiper-pagination {
  position: static;

  span + span {
    margin-left: 9px;
  }

  &-bullet {
    background: #c9d3d9;
    opacity: 1;

    &-active {
      background: #639999;
    }
  }
}

.swiper-slide {
  position: relative;
}

.sliders-wrap {
  position: relative;
  margin-left: 150px;
  display: inline-block;
  margin-top: 40px;

  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: -60px;
    outline: none;
  }

  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: -60px;
    outline: none;
  }
}

// Rating
.search-result-item__star-rating {
  width: 79px;
  height: 16px;
  background: url("../img/no-star.svg");
  background-size: 16px 16px;
  flex-shrink: 0;
  display: inline-block;
}

.search-result-item__star {
  width: 40%;
  height: 100%;
  background: url("../img/ok-star.svg");
  background-size: 16px 16px;
}

.reviews,
.reviews-doctors {

  .search-result-item__star {
    background: url("../img/ok-star-orange.svg");
  }
}

// occupation
.occupation {
  position: absolute;
  top: 12px;
  right: 10px;
  color: #ffffff;
  font-size: .7rem !important;
  padding: 3px 7px;
  border-radius: 8.5px;

  span {
    font-size: .7rem !important;
  }

  &.children-bg {
    background-color: #00a9aa;
  }

  &.urgently-bg {
    background-color: #f15a29;
  }

  &.occupation-price {
    position: static;
    margin-right: auto;
    margin-left: 30px;
    display: inline-block;
  }

  &.occupation-vacancies {
    position: static;
    display: none;
    margin-left: 12px;
  }
}

// Accordion
.accordion {
  margin-top: 5px;
}

.accordion-name {
  padding: 22px 0 22px 30px;
  font-size: 1.28rem;
  font-weight: 500;
  cursor: pointer;
  background-color: #00a9aa;
  color: #fff;

  &.light-gray {
    background-color: #f9f9f9;
    color: #231f20;

    &::after {
      border-bottom: 1px solid #828487;
      border-left: 1px solid #828487;
    }
  }

  &.gray {
    background-color: #d1d3d4;
    color: #231f20;
    font-weight: 300;

    &::after {
      border-bottom: 1px solid #828487;
      border-left: 1px solid #828487;
    }
  }
}

//slider-wards
.slider-wards {
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 10px;

  a {
    display: inline-block;
    width: 31.5%;
    border-radius: 3px;
    overflow: hidden;
    margin-top: 20px;
  }
}

// Highlight
.highlight {
  color: #000000;
  font-weight: 500;
}

//Custom Radio
.radio {
  display: inline-block;
  position: relative;

  & + .radio {
    margin-left: 60px;
  }
}

.radio input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.radio__text {
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer;
  color: #000000;
  font-size: 1.28rem;
  letter-spacing: 0.18px;
}

.radio__text:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  width: 19px;
  height: 19px;
  transition: .2s;
  border-radius: 50%;
  text-align: center;
  border: 2px solid #555;
  color: #fff;
}

.radio__text:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 5px;
  width: 13px;
  height: 13px;
  transition: .2s;
  border-radius: 50%;
  text-align: center;
  background-color: #000000;
  opacity: 0;
}

.radio input:checked + .radio__text:after {
  opacity: 1;
}

.radio input:checked + .radio__text:before {
  border: 2px solid #000000;
}

// Checkbox
.checkbox {
  position: relative;
}

.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.checkbox__text {
  position: relative;
  padding: 0 0 0 25px;
  cursor: pointer;
  font-size: 14px;
}

.checkbox__text:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: url("../img/no-chered.svg") no-repeat center/cover;
  text-align: center;
  color: #fff;
}

.checkbox input:checked + .checkbox__text:before {
  background: url("../img/cheked.svg") no-repeat center/cover;
}

// File
.form-input--file {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form-input-file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.form-input--file-text {
  text-decoration: underline;
  font-size: 1.28rem;
  margin-left: 15px;
}

.form-input-wrap {
  cursor: pointer;

  img {
    flex-shrink: 0;
    width: 25px;
  }

  &.active {

    .form-input--file-text {
      font-weight: 500;
      text-decoration: none;
    }
  }
}

.exit-file {
  display: none;
  margin-left: 5px;
  flex-shrink: 0;
  width: 25px;
  cursor: pointer;

  &.active {
    display: block;
  }
}

// DropDown
.dropdown-menu ul {

  li {
    transition: all .1s linear;
    cursor: pointer;
    font-weight: 300;

    &:hover {
      font-weight: 500;
    }
  }
}

.dropdown-menu ul.language-wrap {
  min-width: 45px;
  color: #666666;
  font-size: 1.14rem;
  padding: 10px 7px 13px;

  li {

    & + li {
      margin-top: 5px;
    }
  }
}

.ul-headeer-sm-dropdown {
  min-width: 220px !important;
  font-size: 1.14rem !important;
  font-weight: 300 !important;

  .arr-down-w {
    display: inline-block;
    vertical-align: middle;
    padding-left: 4px;
    padding-right: 4px;

  }

  a {
    padding: 0 !important;
  }

  a:hover {
    background-color: inherit !important;
    color: #666666 !important;
  }
}

.arr-up-w {
  transform: rotate(180deg);
}

.ul-sm-accordion-content {
  display: none;
  box-shadow: none !important;
  margin: 12px 0 0 18px !important;
}

.dropdown-menu ul.phone-wrap {
  min-width: 170px;
  font-size: 1.28rem;
  color: #666666;
  padding: 20px 15px 15px;

  li {

    & + li {
      margin-top: 15px;
    }
  }
}

.dropdown-menu {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
  background-color: #f9f9f9;
}

.man-wrap {
  min-width: 1250px;
  max-width: 1250px;
  font-size: 1.14rem;
  color: #666666;
  padding: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #fff;
}

.man-drop .dropdown-anchor {
  left: 85px !important;
}

// tabs
.tabs > div,
.tabs-child > div{
  padding-top: 10px;
}

.tabs ul,
.tabs-child ul{
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: none;
  font-weight: 300;
  border-bottom: 1px solid #808285;
  background-color: #fff;
}

.tabs ul li,
.tabs-child ul li{
  margin: 0;
  cursor: pointer;
  padding: 14px 0;
  transition: all .2s linear;
}

.tabs ul li.active, .tabs ul li.active:hover,
.tabs-child ul li.active, .tabs-child ul li.active:hover{
  color: #231f20;
  font-weight: 500;
}

.js-def-card {
  display: none !important;
}

.js-show-card {
  display: block !important;

  &.card {
    display: flex !important;
  }
}

.accordion-end {
  display: none;

  &:first-child {
    display: block;
  }
}

.hide {
  display: none !important;
}

.man-drop {
  .dropdown-anchor {
    display: none;
  }
}

.text-link {
  position: relative;
  img {
    transform: rotate(0) !important;
  }

  //&.dropdown-open {
  //  &:before {
  //    content: '';
  //    position: absolute;
  //    top: 16px;
  //    border: 6px solid transparent;
  //    width: 0;
  //    left: 83%;
  //    height: 0;
  //    border-left: 8px solid #fff;
  //    transform: rotate(-90deg);
  //    z-index: 9999999999999999999999;
  //  }
  //}
}

.text-link.dropdown-open,
.nav-link.active{

  .text-link {
    img {
      transform: rotate(180deg) !important;
    }
  }
}