.container {
  width: 100%;
  padding: 0 15px;
  max-width: 1390px;
  margin: 0 auto;

  &.big {
    max-width: 1920px;
  }

  &.min {
    max-width: 920px;
  }

  &.medium {
    max-width: 1165px;
  }
}

.flex-cont {
  display: flex;
  flex-wrap: nowrap;
}

.justify-sb {
  justify-content: space-between;
}

.justify-sa {
  justify-content: space-around;
}

.flex-d-column-rev {
  flex-direction: column-reverse;
}

.flex-d-column {
  flex-direction: column;
}

.justify-c {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.dark-bg {
  background-color: #f9f9f9;
}

.fw-med {
  font-weight: 500;
}

.underline {
  text-decoration: underline;
}