/*STYLE RESET START*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #231f20;
  font: 300 14px "Roboto", sans-serif;
  background-color: #ffffff;
  position: relative;
  padding-top: 72px;
}

html {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

textarea {
  width: 100%;
  resize: none;
}

label {
  margin: 0;
}

input, button, select {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

/*STYLE RESET END*/